<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
  <add name="Comp5527ConnectionString" connectionString="Data Source=COMP5527-PC\sqlexpress;Initial Catalog=Comp5527;User ID=sa;Password=comp5527"
   providerName="System.Data.SqlClient" />
  <add name="comp5527_Server.Properties.Settings.Comp5527ConnectionString"
   connectionString="Data Source=comp5527-pc\sqlexpress;Initial Catalog=Comp5527;Persist Security Info=True;User ID=sa;Password=comp5527"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>